/*
red=FF0000
yellow=FFFF000
black=000000
blue=3626A7
other=BBD8B3
rosa=D500F9
*/

html{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #D500F9;
}

.title{
    text-transform: uppercase;
}

.container{
  background: #FF0000; /* Respaldo */
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;
}

.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}

.close{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #FF0000;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph{
  font-weight: 300;
  line-height: 1.8em;
}

.fa-star, .fa-star-half, .fa-star-half-alt{
  color:#ff0000;
}

.table{
  width: 100%;
  border-spacing:0;
}

.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
  background-color: #f3e5f5;
}

.tittle-item{
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #C6426E;*/

  padding-bottom: 1em;
  border-bottom: #C6426E 2px solid;
}

.position{
  background-color: #C6426E;
  color:white;
  padding: 10px;
  /*border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;*/
  border-radius: 4px;
}
