.custom-list li{
  list-style-type: none;
  position: relative;
  margin-top: 1em;
}

.custom-list li::before{
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 0.8em;
  color:green;
  /*border-radius: 30%;
  background-color: blue; */
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  left: -1.3em;
  top: 0.25em;
}
